# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# JetBrains
.idea/
*.iml

# Rider
*.DotSettings.user

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db