<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/compare.css" />
    <title>Document</title>
  </head>
  <body class="container">
    <%- include("partials/header")%>
    <main>
      <div class="h1-container">
        <h1>Compare Songs/Artist</h1>
      </div>

      <div class="main-container main-gradiend-container">
        <div class="song-card-container">
          <div class="song-card"></div>
          <p class="VS">VS</p>
          <div class="song-card"></div>
        </div>

        <div class="skills-card">
          <div class="skills-card">skill1</div>
          <div class="skills-card">skill1</div>
          <div class="skills-card">skill1</div>
          <p class="compare-text">compare</p>
          <div class="skills-card">skill1</div>
          <div class="skills-card">skill1</div>
          <div class="skills-card">skill1</div>
        </div>
      </div>
    </main>
    <%- include("partials/footer")%>
  </body>
</html>
