<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/lading.css" />
    <title>Document</title>
  </head>
  <body class="container">
    <%- include("partials/header")%>
    <main>
      <div class="h1-container">
        <h1>Welcome in MusicMatch</h1>
      </div>
      <div class="project-container main-gradiend-container">
        <div class="lading-project">
          <h2>Project 1</h2>
        </div>
        <div class="lading-project">
          <h2>Project 2</h2>
        </div>
        <div class="lading-project">
          <h2>Project 3</h2>
        </div>
      </div>
    </main>
    <footer class="footer-container">
      <p>© 2026 MusicMatch - WPL Project</p>
    </footer>
    <%- include("partials/footer")%>
  </body>
</html>
