<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/lading.css" />
    <link rel="stylesheet" href="/css/output.css" />
    <title>lading</title>
  </head>
  <body class="app-container">
    <%- include("partials/header")%>
    <main class="flex flex-row justify-center items-center gap-8">
      <div class="box main-gradient-container">
        <img src="/assets/gameHub.jpg" alt="gamehub image" />
        GameHub
      </div>
      <div class="box main-gradient-container">
        <img src="/assets/musicMatch.jpg" alt="gamehub image" />
        MusicMatch
      </div>
      <div class="box main-gradient-container">
        <img src="/assets/Lego_Masters.jpg" alt="gamehub image" />
        LegoMaster
      </div>
    </main>
    <footer class="footer-container">
      <p>© 2026 MusicMatch - WPL Project</p>
    </footer>
    <%- include("partials/footer")%>
  </body>
</html>
