<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/profile.css" />
    <title>Profile</title>
  </head>
  <body class="app-container">
    <%- include("partials/header")%>
    <main class="main-container">
      <div class="profile-container">
        <div class="profile-header">
          <div class="profile-background-photo"></div>
          <div class="place-content-center">
            <img
              src="/assets/Palindrom_profile.jpg"
              alt="profile photo"
              class="profile-img"
            />
          </div>
          <button class="edit-button">
            <img src="/assets/edit-profile.png" alt="edit" class="edit-icon" />
          </button>
        </div>
        <div class="info-container main-gradient-container">
          <h3 class="font-semibold text-2xl">Palindrom</h3>
        </div>
      </div>

      <p class="pl-5 text-2xl font-semibold">Eigen afspeellijsten</p>
      <div class="album-con">
        <div
          class="w-56 bg-white rounded-xl shadow-md overflow-hidden hover:shadow-xl transition"
        >
          <img src="/assets/chillvibes.jpg" class="w-full h-36 object-cover" />
          <div class="p-4">
            <h2 class="font-semibold text-2xl">Late Night</h2>
            <p class="text-sm text-gray-600 text-xl">Night vibes</p>
          </div>
        </div>
      </div>

      <p class="pl-5 text-2xl font-semibold">Afspeellijsten die je leuk vond</p>
      <div class="album-con">
        <div
          class="w-56 bg-white rounded-xl shadow-md overflow-hidden hover:shadow-xl transition"
        >
          <img src="/assets/chillvibes.jpg" class="w-full h-36 object-cover" />
          <div class="p-4">
            <h2 class="font-semibold text-2xl">Late Night</h2>
            <p class="text-sm text-gray-600 text-xl">Night vibes</p>
          </div>
        </div>
      </div>
    </main>

    <%- include("partials/footer")%>
  </body>
</html>
