<!doctype html>
<html lang="nl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/LoginHandler.css" />
    <title>Registreren</title>
  </head>

  <body class="app-container">
    <%- include("partials/header")%>
    <main class="main-container flex flex-col items-center"></main>

    <%- include("partials/footer")%>
  </body>
</html>
