:root {
  --color-header: #6d8196;
  --color-header-end: #8fa4b9;
  --color-button: #add8e6;
  --color-background: #efe3e3;
  --header-background: #f6e3e3;
  --color-text: #000000;
  --hover-text-color: rgb(73, 95, 91);
  --music-cont-color: #21b8cf;
}
* {
  margin: 0;
}
html,
body {
  min-height: 100%;
}
body {
  font-family: Arial, sans-serif;
  color: var(--color-text) !important;

  background-image: url(../assets/background.avif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr 40px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100vh;
  min-width: 100%;
  margin: 0px;
}
.header-container {
  grid-area: header;
  background-color: var(--color-header);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
  width: 100%;
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.header-container,
.footer-container {
  background: linear-gradient(135deg, #86aed7, #97c1ea);
}
.hed-icon {
  width: 30px;
  height: 30px;
}
.header-container a {
  display: inline-block;
  transition: transform 0.2s ease;
}
.header-container a:hover {
  transform: translateY(-2px);
}
a {
  text-decoration: none;
  color: var(--color-text);
}
a:hover {
  color: var(--hover-text-color);
}
.search-input {
  min-width: 50px;
  border-radius: 20px;
  border: none;
  outline: none;
  color: white;
  background-color: #6d8196;
  transition: 0.2s;
}

.main-container {
  grid-area: main;
}
.main-gradient-container {
  background: linear-gradient(135deg, #86aed7, #97c1ea);
}
.footer-container {
  grid-area: footer;
  background-color: var(--color-header);
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  margin-top: 0px;
}
.btn {
  display: inline-block;
  background-color: var(--color-button);
  justify-content: center;
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.play-btn,
.like-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.play-btn:hover,
.like-btn:hover {
  transform: translateY(-2px);
}

input {
  width: 100%;
  padding: 8px;
  border: 2px;
  border-radius: 5px;
}
.profile-img {
  min-width: 100px;
  width: 100px;
  border: 5px;
  border-radius: 20px;
}

.rec-music {
  display: flex;
  border: 5px;
  border-radius: 10px;
  padding-right: 10px;
  margin-top: 5px;
  box-shadow: 0 5px 14px rgba(2, 49, 94, 0.15);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  min-width: 0;
}
.rec-music-gradient {
  background: linear-gradient(135deg, #08d1f0, #d8ecec);
}
.rec-music:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}
.rec-icon {
  width: 16px;
  height: 16px;
}
.rec-like {
  width: 25px;
  height: 25px;
  min-width: 20px;
  min-height: 20px;
}
.rec-img {
  min-width: 50px;
  width: 80px;
  height: 80px;
  object-fit: cover;
  display: block;
  border: 5px;
  border-radius: 10px;
}

.text-container {
  display: flex;
  align-items: flex-end;
  flex: 1;
  gap: 5px;
  margin-bottom: 10px;
  min-width: 0;
}
.text-color {
  color: rgb(255, 255, 255) !important;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.6);
}
.album-con {
  display: grid;
  grid-template-columns: repeat(auto-fill, 224px);
  justify-content: space-between;
  padding: 20px;
  gap: 10px;
}
.truncate-song {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 100px;
  max-width: 200px;
}
.truncate-artist {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.genres {
  display: flex;
  gap: 10px;
  overflow-x: auto;
}
.genre {
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
  background: #ffffff20;
  color: white;
  cursor: pointer;
  white-space: nowrap;
}
.genre.active {
  background: #1db954;
}
.intro {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}
@media (min-width: 1960px) {
  .footer-container {
    margin-top: 20px;
  }

  .truncate-song {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 100px;
    max-width: 600px;
  }
  .truncate-artist {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
  }
}
@media (max-width: 1670px) {
  .footer-container {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .app-container {
    grid-template-rows: auto 1fr auto;
  }

  .header-container {
    flex-direction: row;
    padding: 10px;
  }

  .footer-container {
    margin-top: 20px;
  }
  .truncate-song {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 100px;
    max-width: 400px;
  }
  .truncate-artist {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
  }
}
