:root {
  --color-header: #6d8196;
  --color-button: #add8e6;
  --color-background: #fffafa;
  --color-text: #000000;
  --hover-text-color: rgb(53, 235, 220);
  --music-cont-color: #586b80;
}
body {
  font-family: Arial, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text) !important;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 950px 40px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100vh;
  margin: 0;
}
.header-container {
  grid-area: header;
  background-color: var(--color-header);
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
}
.header-container a {
  margin-left: 10px;
  padding-right: 20px;
}

.header-container a img {
  height: 15px;
  width: 15px;
}
a {
  text-decoration: none;
  color: var(--color-text);
}
a:hover {
  color: var(--hover-text-color);
}
.main-container {
  grid-area: main;
  display: grid;
  place-items: center;
  margin: 0;
}
.footer-container {
  grid-area: footer;
  background-color: var(--color-header);
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-button);
  width: 100px;
  padding: 10px;
  border: 10px;
  border-radius: 10px;
  cursor: pointer;
}
s input {
  width: 100%;
  padding: 8px;
  border: 2px;
  border-radius: 5px;
}
.profile-img {
  width: 100px;
  border: 5px;
  border-radius: 20px;
}
