:root {
  --color-header: #6d8196;
  --color-button: #add8e6;
  --color-background: #fffafa;
  --color-text: #000000;
}
body {
  font-family: Arial, sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
  height: 100vh;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 2fr 40px;
  grid-template-areas:
    "header"
    "main"
    "footer";
  width: 100%;
  height: 100%;
}
header {
  grid-area: header;
  background-color: var(--color-header);
  width: 100%;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container {
  display: flex;
  gap: 15px;
}
main {
  grid-area: main;
  display: grid;
  place-items: center;
  margin: 50px;
}
footer {
  grid-area: footer;
  background-color: var(--color-header);
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-button);
  width: 100px;
  padding: 10px;
  border: 10px;
  border-radius: 10px;
  cursor: pointer;
}
input {
  width: 100%;
  padding: 8px;
  border: 2px;
  border-radius: 5px;
}
