.login-container {
  background-color: var(--color-header);
  padding: 30px;
  border-radius: 8px;
  width: 300px;
  align-items: center;
  align-self: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-login {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-right: 15px;
}
.form-login button {
  display: flex;
  align-self: center;
}
