.profile-container {
  width: 100%;
}
.profile-header {
  width: 100%;
  overflow: hidden;
  position: relative; /* container for absolutely positioned children */
}
.profile-img {
  width: 200px;
  height: 200px;
  border: 5px solid var(--color-header);
  border-radius: 50%;
  object-fit: cover;
}

.place-content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.edit-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 2;
}
.edit-button:hover {
  transform: translateY(-2px);
}
.edit-icon {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
}
.profile-background-photo {
  background-image: url("/public/assets/profile-background-photo.avif");
  width: 100%;
  height: 240px;
}
.info-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 10px;
  gap: 20px;
}
.info-container p {
  align-self: center;
}
.follow-stats {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}
